In [26]:
from subgrounds import Subgrounds
from datetime import datetime
from subgrounds.subgraph import SyntheticField
import pandas as pd

# Initialize Subgrounds and load the subgraph
sg = Subgrounds()
stargate_eth = sg.load_subgraph("https://api.thegraph.com/subgraphs/name/messari/stargate-ethereum")

# Define the query and field paths
usage_metrics_daily_snapshots = stargate_eth.Query.usageMetricsDailySnapshots(first=1000)

# Create the datetime synthetic field
stargate_eth.UsageMetricsDailySnapshot.datetime = SyntheticField(
    lambda timestamp: str(datetime.fromtimestamp(timestamp)),
    SyntheticField.FLOAT,
    stargate_eth.UsageMetricsDailySnapshot.timestamp,
)

# Field paths for each category
cumulative_metrics_fields = [
    usage_metrics_daily_snapshots.cumulativeLiquidityDepositCount,
    usage_metrics_daily_snapshots.cumulativeLiquidityWithdrawCount,
    usage_metrics_daily_snapshots.cumulativeMessageReceivedCount,
    usage_metrics_daily_snapshots.cumulativeMessageSentCount,
    usage_metrics_daily_snapshots.cumulativeTransactionCount,
    usage_metrics_daily_snapshots.cumulativeTransferInCount,
    usage_metrics_daily_snapshots.cumulativeTransferOutCount,
    usage_metrics_daily_snapshots.cumulativeUniqueLiquidityProviders,
    usage_metrics_daily_snapshots.cumulativeUniqueMessageSenders,
    usage_metrics_daily_snapshots.cumulativeUniqueTransferReceivers,
    usage_metrics_daily_snapshots.cumulativeUniqueTransferSenders,
    usage_metrics_daily_snapshots.cumulativeUniqueUsers,
]

daily_metrics_fields = [
    usage_metrics_daily_snapshots.dailyActiveLiquidityProviders,
    usage_metrics_daily_snapshots.dailyActiveMessageSenders,
    usage_metrics_daily_snapshots.dailyActiveTransferReceivers,
    usage_metrics_daily_snapshots.dailyActiveTransferSenders,
    usage_metrics_daily_snapshots.dailyActiveUsers,
    usage_metrics_daily_snapshots.dailyLiquidityDepositCount,
    usage_metrics_daily_snapshots.dailyLiquidityWithdrawCount,
    usage_metrics_daily_snapshots.dailyMessageReceivedCount,
    usage_metrics_daily_snapshots.dailyMessageSentCount,
    usage_metrics_daily_snapshots.dailyTransactionCount,
    usage_metrics_daily_snapshots.dailyTransferInCount,
    usage_metrics_daily_snapshots.dailyTransferOutCount,
]

snapshot_info_fields = [
    usage_metrics_daily_snapshots.day,
    usage_metrics_daily_snapshots.id,
    usage_metrics_daily_snapshots.datetime,  # Use the synthetic field for datetime
    usage_metrics_daily_snapshots.timestamp,
]

protocol_metrics_fields = [
    usage_metrics_daily_snapshots.totalCanonicalRouteCount,
    usage_metrics_daily_snapshots.totalPoolCount,
    usage_metrics_daily_snapshots.totalPoolRouteCount,
    usage_metrics_daily_snapshots.totalSupportedTokenCount,
    usage_metrics_daily_snapshots.totalWrappedRouteCount,
]

# Execute the query and store the results in a DataFrame
cumulative_metrics_df = sg.query_df(cumulative_metrics_fields)
daily_metrics_df = sg.query_df(daily_metrics_fields)
snapshot_info_df = sg.query_df(snapshot_info_fields)
protocol_metrics_df = sg.query_df(protocol_metrics_fields)

In [27]:
# Initialize Subgrounds and load the subgraph
sg = Subgrounds()
stargate_eth = sg.load_subgraph("https://api.thegraph.com/subgraphs/name/messari/stargate-ethereum")

# Define the query and field paths
pools_query = stargate_eth.Query.pools(first=1000)

# Field paths for each category
snapshot_fields = [
    pools_query._lastDailySnapshotTimestamp,
    pools_query._lastHourlySnapshotTimestamp,
]

creation_fields = [
    pools_query.createdBlockNumber,
    pools_query.createdTimestamp,
]

cumulative_metrics_fields = [
    pools_query.cumulativeProtocolSideRevenueUSD,
    pools_query.cumulativeSupplySideRevenueUSD,
    pools_query.cumulativeTotalRevenueUSD,
    pools_query.cumulativeVolumeIn,
    pools_query.cumulativeVolumeInUSD,
    pools_query.cumulativeVolumeOut,
    pools_query.cumulativeVolumeOutUSD,
]

identity_fields = [
    pools_query.id,
    pools_query.name,
    pools_query.symbol,
    pools_query.type,
]

liquidity_fields = [
    pools_query.inputTokenBalance,
    pools_query.outputTokenSupply,
    pools_query.stakedOutputTokenAmount,
]

rewards_fields = [
    pools_query.rewardTokenEmissionsAmount,
    pools_query.rewardTokenEmissionsUSD,
]

volume_fields = [
    pools_query.netVolume,
    pools_query.netVolumeUSD,
    pools_query.outputTokenPriceUSD,
]

value_locked_fields = [
    pools_query.totalValueLockedUSD,
]

# Execute the query and store the results in DataFrames
snapshot_df = sg.query_df(snapshot_fields)
creation_df = sg.query_df(creation_fields)
cumulative_metrics_df = sg.query_df(cumulative_metrics_fields)
identity_df = sg.query_df(identity_fields)
liquidity_df = sg.query_df(liquidity_fields)
rewards_df = sg.query_df(rewards_fields)
volume_df = sg.query_df(volume_fields)
value_locked_df = sg.query_df(value_locked_fields)

In [28]:
print("Cumulative Metrics:")
cumulative_metrics_df

Cumulative Metrics:

,pools_cumulativeProtocolSideRevenueUSD,pools_cumulativeSupplySideRevenueUSD,pools_cumulativeTotalRevenueUSD,pools_cumulativeVolumeIn,pools_cumulativeVolumeInUSD,pools_cumulativeVolumeOut,pools_cumulativeVolumeOutUSD
0,1307.229974,0.000000,1307.229974,3089606828823,3.009079e+06,2293916844839,2.242969e+06
1,68800.668976,305.821040,69106.490015,113114027909232424331006,1.805920e+08,111864627915430877484386,1.763176e+08
2,0.000000,0.000000,0.000000,0,0.000000e+00,0,0.000000e+00
3,212931.241399,125348.685984,338279.927383,679662381833211,6.803579e+08,649732207638413,6.494134e+08
4,0.000000,0.000000,0.000000,0,0.000000e+00,0,0.000000e+00
5,1169.928525,0.000000,1169.928525,2826586958479,2.826587e+06,2804917241261,2.804917e+06
6,0.069099,0.001498,0.070597,35575689140809682917,3.557569e+01,120925626892179448463,1.209256e+02
7,350.687150,31.869014,382.556164,585503456610,5.855035e+05,694572127039,6.945721e+05
8,13.831215,2.942812,16.774027,3359239206712497885822,1.195512e+05,1054856846257817917068,2.941046e+04
9,513920.753212,139574.377795,653495.131007,1135190640173181,1.135399e+09,1119955962088785,1.119935e+09
10,422.917112,0.000000,422.917112,3179015154256,3.265879e+06,3045871420040,3.114525e+06
11,2665.586750,0.000000,2665.586750,4502418283971,4.528332e+06,5664921857529,5.782504e+06

In [30]:
print("Snapshot Information:")
snapshot_info_df

Snapshot Information:

,usageMetricsDailySnapshots_day,usageMetricsDailySnapshots_id,usageMetricsDailySnapshots_datetime,usageMetricsDailySnapshots_timestamp
0,19200,0x004b0000,2022-07-27 18:27:48,1658964468
1,19456,0x004c0000,2023-04-09 07:45:23,1681044323
2,19201,0x014b0000,2022-07-28 18:46:56,1659052016
3,19457,0x014c0000,2023-04-10 07:45:47,1681130747
4,19202,0x024b0000,2022-07-29 18:57:41,1659139061
...,...,...,...,...
384,19453,0xfd4b0000,2023-04-06 07:44:23,1680785063
385,19198,0xfe4a0000,2022-07-25 18:17:41,1658791061
386,19454,0xfe4b0000,2023-04-07 07:44:47,1680871487
387,19199,0xff4a0000,2022-07-26 18:19:41,1658877581
388,19455,0xff4b0000,2023-04-08 07:44:59,1680957899

In [32]:
print("Snapshot Fields:")
snapshot_df

Snapshot Fields:

    pools__lastDailySnapshotTimestamp  pools__lastHourlySnapshotTimestamp
0                          1681210763                          1681252583
1                          1681194851                          1681250855
2                          1681231175                          1681235327
3                          1681241507                          1681251323
4                          1681205951                          1681245275
5                          1681242719                          1681242719
6                          1677032387                          1677032387
7                          1681115051                          1681119131
8                          1681153667                          1681220435
9                          1681219379                          1681249607
10                         1681118723                          1681203767
11                         1681171643                          1681227887

In [33]:
print("Creation Fields:")
creation_df

Creation Fields:

    pools_createdBlockNumber  pools_createdTimestamp
0                   15970827              1668459659
1                   15035770              1656355903
2                   16680988              1677032387
3                   14405077              1647534279
4                   16415911              1673830559
5                   15970827              1668459659
6                   15035770              1656355903
7                   15979661              1668566351
8                   16415911              1673830559
9                   14405077              1647534279
10                  15970827              1668459659
11                  15970827              1668459659

In [34]:
print("Cumulative Metrics Fields:")
cumulative_metrics_df

Cumulative Metrics Fields:

,pools_cumulativeProtocolSideRevenueUSD,pools_cumulativeSupplySideRevenueUSD,pools_cumulativeTotalRevenueUSD,pools_cumulativeVolumeIn,pools_cumulativeVolumeInUSD,pools_cumulativeVolumeOut,pools_cumulativeVolumeOutUSD
0,1307.229974,0.000000,1307.229974,3089606828823,3.009079e+06,2293916844839,2.242969e+06
1,68800.668976,305.821040,69106.490015,113114027909232424331006,1.805920e+08,111864627915430877484386,1.763176e+08
2,0.000000,0.000000,0.000000,0,0.000000e+00,0,0.000000e+00
3,212931.241399,125348.685984,338279.927383,679662381833211,6.803579e+08,649732207638413,6.494134e+08
4,0.000000,0.000000,0.000000,0,0.000000e+00,0,0.000000e+00
5,1169.928525,0.000000,1169.928525,2826586958479,2.826587e+06,2804917241261,2.804917e+06
6,0.069099,0.001498,0.070597,35575689140809682917,3.557569e+01,120925626892179448463,1.209256e+02
7,350.687150,31.869014,382.556164,585503456610,5.855035e+05,694572127039,6.945721e+05
8,13.831215,2.942812,16.774027,3359239206712497885822,1.195512e+05,1054856846257817917068,2.941046e+04
9,513920.753212,139574.377795,653495.131007,1135190640173181,1.135399e+09,1119955962088785,1.119935e+09
10,422.917112,0.000000,422.917112,3179015154256,3.265879e+06,3045871420040,3.114525e+06
11,2665.586750,0.000000,2665.586750,4502418283971,4.528332e+06,5664921857529,5.782504e+06

In [35]:
print("Identity Fields:")
identity_df

Identity Fields:

,pools_id,pools_name,pools_symbol,pools_type
0,0x0faf1d2d3ced330824de3b8200fc8dc6e397850d,Dai Stablecoin-LP,S*DAI,LIQUIDITY
1,0x101816545f6bd2b1076434b54383a1e633390a2e,Stargate Ether Vault-LP,S*SGETH,LIQUIDITY
2,0x1ce66c52c36757daf6551edc04800a0ec9983a09,Wootrade Network-LP,S*WOO,LIQUIDITY
3,0x38ea452219524bb87e18de1c24d3bb59510bd783,Tether USD-LP,S*USDT,LIQUIDITY
4,0x430ebff5e3e80a6c58e7e6ada1d90f5c28aa116d,Tether USD-LP,S*USDT,LIQUIDITY
5,0x590d4f8a68583639f215f675f3a259ed84790580,Synth sUSD-LP,S*sUSD,LIQUIDITY
6,0x692953e758c3669290cb1677180c64183cee374e,Decentralized USD-LP,S*USDD,LIQUIDITY
7,0x9cef9a0b1be0d289ac9f4a98ff317c33eaa84eb8,Mai Stablecoin-LP,S*MAI,LIQUIDITY
8,0xd8772edbf88bba2667ed011542343b0eddacda47,Metis Token-LP,S*Metis,LIQUIDITY
9,0xdf0770df86a8034b3efef0a1bb3c889b8332ff56,USD Coin-LP,S*USDC,LIQUIDITY
10,0xe8f55368c82d38bbbbdb5533e7f56afc2e978cc2,LUSD Stablecoin-LP,S*LUSD,LIQUIDITY
11,0xfa0f307783ac21c39e939acff795e27b650f6e68,Frax-LP,S*FRAX,LIQUIDITY

In [36]:
print("Liquidity Fields:")
liquidity_df

Liquidity Fields:

,pools_inputTokenBalance,pools_outputTokenSupply,pools_stakedOutputTokenAmount
0,1145652296227,None,None
1,7476041049038881562506,None,None
2,1117574590466335306966394,None,None
3,66858491075796,None,None
4,1786618199803,None,None
5,26401433564,None,None
6,42136798792421802851,None,None
7,500255541580,None,None
8,10248804421911555289483,None,None
9,59829799364965,None,None
10,138456935822,None,None
11,454155982051,None,None

In [37]:
print("Rewards Fields:")
rewards_df

Rewards Fields:

[   pools_rewardTokenEmissionsAmount
 0              85665071155808180788
 1            1763266616964103665753
 2                              None
 3           11022953030973617662962
 4              14733334080000000000
 5                                 0
 6                              None
 7                              None
 8                              None
 9            8462822766717143960783
 10                                0
 11             85700051491985732264,
     pools_rewardTokenEmissionsUSD
 0                       69.231598
 1                     1440.052793
 2                             NaN
 3                     8908.375859
 4                      436.001552
 5                        0.000000
 6                             NaN
 7                             NaN
 8                             NaN
 9                     6911.553502
 10                       0.000000
 11                      70.419132]

In [38]:
print("Volume Fields:")
volume_df

Volume Fields:

           pools_netVolume  pools_netVolumeUSD pools_outputTokenPriceUSD
0             795689983984        7.661105e+05                      None
1   1249399993801546846620        4.274334e+06                      None
2                        0        0.000000e+00                      None
3           29930174194798        3.094452e+07                      None
4                        0        0.000000e+00                      None
5              21669717218        2.166972e+04                      None
6    -85349937751369765546       -8.534994e+01                      None
7            -109068670429       -1.090687e+05                      None
8   2304382360454679968754        9.014072e+04                      None
9           15234678084396        1.546337e+07                      None
10            133143734216        1.513536e+05                      None
11          -1162503573558       -1.254172e+06                      None

In [39]:
print("Total Value Locked Fields:")
value_locked_df

Total Value Locked Fields:

    pools_totalValueLockedUSD
0                1.145343e+06
1                1.416560e+07
2                2.420857e+05
3                6.693204e+07
4                1.784653e+06
5                2.640143e+04
6                4.213680e+01
7                5.002555e+05
8                3.130280e+05
9                5.971026e+07
10               1.399995e+05
11               4.884511e+05